In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
import os

In [2]:
#LOAD DATA
path = 'adult19.csv'
interviewData = pd.read_csv (path)
interviewData

,URBRRL,RATCAT_A,INCGRP_A,INCTCFLG_A,FAMINCTC_A,IMPINCFLG_A,PPSU,PSTRAT,HISPALLP_A,RACEALLP_A,...,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_QRT,RECTYPE,WTFA_A,WTIA_A,HHX,POVRATTC_A
0,4,9,3,0,60000,2,2,122,3,2,...,NaN,NaN,1,1,1,10,13177.008,7601.336,H048109,2.96
1,4,9,3,0,50000,0,2,122,2,1,...,NaN,NaN,1,1,1,10,6140.552,3344.434,H027044,2.97
2,4,12,3,0,65000,1,2,122,2,1,...,NaN,NaN,1,1,1,10,9191.061,6949.498,H058855,4.28
3,4,14,5,0,120000,0,2,122,1,8,...,NaN,NaN,1,1,1,10,7900.035,6446.327,H031993,7.13
4,1,4,1,0,30000,0,2,115,2,1,...,NaN,NaN,1,1,1,10,10875.772,8646.586,H007122,1.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31992,4,14,5,0,116204,0,100,114,2,1,...,NaN,NaN,1,1,4,10,2679.016,1965.416,H046022,7.65
31993,4,8,3,0,68000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,6726.495,3920.208,H046232,2.02
31994,4,13,3,0,60000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,1246.306,864.743,H043765,4.98
31995,4,14,5,0,101000,0,100,114,1,1,...,NaN,NaN,1,1,4,10,3427.198,2595.209,H017695,6.00
31996,4,13,4,0,79000,0,100,114,2,1,...,NaN,NaN,1,1,4,10,3453.332,1891.706,H026306,4.69

In [3]:
#LOAD CSV WITH DATA CLEANING INSTRUCTIONS
path = 'VariableNanDetails.csv'
data_cleaning_inst = pd.read_csv (path)
data_cleaning_inst

,COLUMN_INDEX,COLUMN_NAME,DESCRIPTION,DATA_TYPE,CATEGORICAL_TYPE,NANs,REPLACE_WITH,DROP_NAN_CODE_1,DROP_NAN_CODE_2,DROP_NAN_CODE_3,...,Code_4_Meaning,Code_5,Code_5_Meaning,Code_6,Code_6_Meaning,Code_7,Code_7_Meaning,Code_8,Code_8_Meaning,NOTES
0,402.0,POVRATTC_A,SA family poverty ratio,numerical,NaN,drop_nans,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,403.0,HHX,Randomly assigned household number unique to a...,recordkeeping - ID,NaN,drop_nans,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,404.0,WTIA_A,Weight - annual pre-post stratification calibr...,recordkeeping,NaN,drop_col,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,405.0,WTFA_A,Weight - Final Annual,recordkeeping,NaN,drop_col,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,406.0,RECTYPE,Record type,recordkeeping,NaN,drop_col,NaN,NaN,NaN,NaN,...,Sample Child Income,50.0,Paradata,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,264.0,PHQ82_A,"How often feeling down, past 2 weeks",categorical,ordinal,drop_col,NaN,NaN,NaN,NaN,...,Nearly every day,7.0,Refused,8.0,Not Ascertained,9.0,Don't Know,NaN,NaN,PHQ questions
530,265.0,PHQ81_A,"How often little interest in things, past 2 weeks",categorical,ordinal,drop_col,NaN,NaN,NaN,NaN,...,Nearly every day,7.0,Refused,8.0,Not Ascertained,9.0,Don't Know,NaN,NaN,PHQ questions
531,266.0,MHTHND_A,Needed counseling/therapy but did not get it d...,categorical,nominal,drop_nans,NaN,NaN,NaN,NaN,...,Nearly every day,7.0,Refused,8.0,Not Ascertained,9.0,Don't Know,NaN,NaN,NaN
532,267.0,MHTHDLY_A,"Delayed counseling/therapy due to cost, past 12m",categorical,nominal,drop_nans,NaN,NaN,NaN,NaN,...,Nearly every day,7.0,Refused,8.0,Not Ascertained,9.0,Don't Know,NaN,NaN,NaN
533,NaN,MHTPYNOW_A,Currently receiving counseling/therapy from me...,categorical,nominal,replace,10.0,NaN,NaN,NaN,...,Not Ascertained,9.0,Don't Know,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#DROP RECORDKEEPING COLUMNS

#make working copy of data
cleanData = interviewData.copy()
#make list of columns to drop 
cols = data_cleaning_inst.COLUMN_NAME[(data_cleaning_inst.DATA_TYPE == 'recordkeeping') &
                                      (data_cleaning_inst.NANs == 'drop_col')].tolist()
# drop irrelevant columns
cleanData = cleanData.drop(columns = cols)

#list columns that were dropped
print(data_cleaning_inst[['COLUMN_NAME', 'DESCRIPTION']][data_cleaning_inst.COLUMN_NAME.isin(cols)].to_string())
#print clean shape
print(cleanData.shape)

      COLUMN_NAME                                                                       DESCRIPTION
2          WTIA_A                               Weight - annual pre-post stratification calibration
3          WTFA_A                                                             Weight - Final Annual
4         RECTYPE                                                                       Record type
6        HHSTAT_A                                              Indicates person is the Sample Adult
137   IMPINCFLG_A                                         Imputed SA family income imputation flag
138          PPSU                                Pseudo-PSU for public-use file variance estimation
139        PSTRAT                     \r\nPseudo-stratum for public-use file variance estimation \r
165  HHRESPSA_FLG  Sample Adult is the household respondent or the proxy who lives in the household
194       OGFLG_A                                                Other government reassignment flag
195       OPFLG_A                                                 State-sponsored reassignment flag
196       CHFLG_A                                                            CHIP reassignment flag
197       MAFLG_A                                                        Medicaid reassignment flag
203       PRFLG_A                                                         Private reassignment flag
204   PLEXCHPR1_A                  Exchange company coding, NCHS, reassigned from public to private
205     PRPREM1_A                                 Premium on plan reassigned from public to private
206     PXCHNG1_A                  Marketplace or state exchange, reassigned from public to private
219    PLEXCHOG_A                          Exchange company coding, NCHS (other government program)
220    PLEXCHOP_A                              Exchange company coding, NCHS (state-sponsored plan)
429       SRVY_YR                                      Year of the National Health Interview Survey
(31997, 515)

In [5]:
#DROP PHQ COLUMNS

#make list of columns to drop 
cols = data_cleaning_inst.COLUMN_NAME[(data_cleaning_inst.COLUMN_NAME.str.contains('PHQ', case=False)) &
    (data_cleaning_inst.NANs == 'drop_col')].tolist()

# drop irrelevant columns
cleanData = cleanData.drop(columns = cols)

#list columns that were dropped
print(data_cleaning_inst[['COLUMN_NAME', 'DESCRIPTION']][data_cleaning_inst.COLUMN_NAME.isin(cols)].to_string())
#print clean shape
print(cleanData.shape)

    COLUMN_NAME                                              DESCRIPTION
523     PHQ88_A  How often moving or speaking slow or fast, past 2 weeks
524     PHQ87_A            How often trouble concentrating, past 2 weeks
525     PHQ86_A           How often feeling bad about self, past 2 weeks
526     PHQ85_A        How often undereating or overeating, past 2 weeks
527     PHQ84_A                    How often feeling tired, past 2 weeks
528     PHQ83_A            How often trouble with sleeping, past 2 weeks
529     PHQ82_A                     How often feeling down, past 2 weeks
530     PHQ81_A        How often little interest in things, past 2 weeks
(31997, 507)

In [6]:
#DROP ROWS WITH NANS

#make list of columns to look for nans in 
cols = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.NANs.isin(['drop_nans', 'drop_nan_and_nan_codes'])]
#count nans per col
nans_drop_nans = cleanData[cols].isnull().sum(axis = 0)
    
# #drop rows with nans in cols
cleanData = cleanData.dropna(subset=cols)

#show nans per col
print(nans_drop_nans.to_string())
#print clean shape
print(cleanData.shape)

POVRATTC_A        0
HHX               0
INTV_QRT          0
AVAIL_A           0
HYPEV_A           0
CHLEV_A           0
CHDEV_A           0
ASEV_A            0
CANEV_A           0
PREDIB_A          0
DIBEV_A           0
COPDEV_A          0
ARTHEV_A          0
DEMENEV_A         0
ANXEV_A           0
DEPEV_A           0
WEARGLSS_A        0
HEARAID_A         0
SOCWRKLIM_A       0
URBRRL            0
RATCAT_A          0
INCGRP_A          0
FAMINCTC_A        0
HISPALLP_A        0
RACEALLP_A        0
DISAB3_A          0
CITZNSTP_A        0
LEGMSTAT_A        0
MARSTAT_A         0
SMKECIGST_A       0
SMKCIGST_A        0
OTHGOV_A          0
OTHPUB_A          0
IHS_A             0
MILITARY_A        0
CHIP_A            0
MEDICAID_A        0
MEDICARE_A        0
PRIVATE_A         0
EDUC_A            0
MAXEDUC_A        95
PARSTAT_A         0
SAPARENTSC_A      0
MLTFAMFLG_A       0
OVER65FLG_A       0
HISDETP_A         0
HISP_A            0
REGION            0
MHTHRPY_A         0
DEPMED_A          0
DEPFREQ_A         0
ANXMED_A          0
ANXFREQ_A         0
HOMEHC12M_A       0
THERA12M_A        0
EYEEX12M_A        0
SHTFLU12M_A       0
MEDNG12M_A        0
MEDDL12M_A        0
HOSPONGT_A        0
USUALPL_A         0
DENNG12M_A        0
DENDL12M_A        0
DENPREV_A         0
PAYWORRY_A        0
PAYBLL12M_A       0
SEX_A             0
HOUYRSLIV_A       0
FDSBALANCE_A      0
FDSLAST_A         0
FDSRUNOUT_A       0
INCOTHR_A       920
INCRETIRE_A     920
INCWELF_A       920
INCSSISSDI_A    920
INCSSRR_A       920
INCINTER_A        0
INCWRKO_A         0
SCHCURENR_A       0
NATUSBORN_A       0
MARITAL_A         0
ORIENT_A          0
CIGAREV_A         0
ECIGEV_A          0
SMKEV_A           0
PAIFRQ3M_A      157
MHTHND_A          0
MHTHDLY_A         0
(30992, 507)

In [7]:
#CATEGORICAL ORDINAL DATA WITH NO 'NOT APPLICABLE' RESPONDENTS
#remove 'missing data codes' rows
#eg - not ascertained, refused, don't know

#check all columns with 'drop_nan_codes' instructions have missing data codes 
#data columns that need missing data codes remove
miss_code_col_A = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.NANs.isin(
    ['drop_nan_codes', 'drop_nan_and_nan_codes'])]

#instruction columns with missing data codes
miss_code_cols = ['DROP_NAN_CODE_1', 'DROP_NAN_CODE_2', 'DROP_NAN_CODE_3', 'DROP_NAN_CODE_4']
#select cols with missing data codes
miss_code_col_B = data_cleaning_inst.dropna(subset=miss_code_cols, how='all').COLUMN_NAME

#check they they are the same
miss_code_col_A = miss_code_col_A.sort_values()
miss_code_col_B = miss_code_col_B.sort_values()

#they are the same
print('all relevant cols have missing codes:', miss_code_col_A.equals(miss_code_col_B))

#make a copy (for ease in troubleshooting)
cleanData_copy = cleanData.copy()

#delete any rows with missing data codes in these rows
miss_code_col = miss_code_col_A.to_list()
for c in miss_code_col:
    miss_data_codes = data_cleaning_inst[miss_code_cols][data_cleaning_inst.COLUMN_NAME == c].dropna(axis=1).to_numpy().flatten()
    cleanData_copy = cleanData_copy[cleanData_copy[c].isin(miss_data_codes) == False]   

#check no missing codes remain     
miss_codes_remaining = []
for c in miss_code_col:
    unique_vals = np.sort(cleanData_copy[c].unique())
    miss_data_codes = np.sort(data_cleaning_inst[miss_code_cols][data_cleaning_inst.COLUMN_NAME == c].dropna(axis=1).to_numpy().flatten())
    intersection = np.intersect1d(unique_vals, miss_data_codes)
    miss_codes_remaining.append(intersection)   

print('missing codes remaining: ', np.sum(np.asarray(miss_codes_remaining)))

#save cleanData_copy as copy
cleanData = cleanData_copy.copy()
#look at shape 
print(cleanData.shape)

all relevant cols have missing codes: True
missing codes remaining:  0.0
(27778, 507)

In [8]:
#CATEGORICAL DATA: ADD NOT APPLICABLE CODES

#check all columns with 'replace' instructions have replace_with values
#data columns that need NaNs replaced
replaceNaNs_cols_A = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.NANs=='replace']

#select cols with replace-with values
replaceNaNs_cols_B = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.REPLACE_WITH.notna()]

#check they they are the same
replaceNaNs_cols_A = replaceNaNs_cols_A.sort_values()
replaceNaNs_cols_B = replaceNaNs_cols_B.sort_values()

#they are the same
print('all relevant cols have missing codes:', replaceNaNs_cols_A.equals(replaceNaNs_cols_B))

#make a copy (for ease in troubleshooting)
cleanData_copy = cleanData.copy()

#replace NaNs with appropriate code
replaceNaNs_cols = replaceNaNs_cols_A.to_list()
for c in replaceNaNs_cols:
    replace_code = data_cleaning_inst.REPLACE_WITH[data_cleaning_inst.COLUMN_NAME == c].to_numpy()[0]
    cleanData_copy[c] = cleanData_copy[c].fillna(replace_code)
    
#CHECK THERE ARE NO NANs LEFT
print('Number NaNs left: ', cleanData_copy.isnull().sum().sum())

#save cleanData_copy as copy
cleanData = cleanData_copy.copy()
#look at shape 
print(cleanData.shape)

all relevant cols have missing codes: True
Number NaNs left:  0
(27778, 507)

In [9]:
#ONE-HOT ENCODE CATEGORICAL DATA
#make list of columns to one-hot encode
cols = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.ENCODING == 'one_hot'].tolist()
#isolate data to encode as one-hot
clean_onehot_data = cleanData.loc[:, cols]
#create object
enc = OneHotEncoder()
#fit encoder
enc.fit(clean_onehot_data)
#transform data
clean_onehot_data = enc.transform(clean_onehot_data).toarray()
#get name of new columns
onehot_features = enc.get_feature_names_out(cols)
#join with previous data 
onehot_df = pd.DataFrame(clean_onehot_data, columns = onehot_features, index = cleanData.index)
cleanData = cleanData.drop(columns = cols)
cleanData = pd.concat([cleanData, onehot_df], axis=1)
cleanData.shape

(27778, 5295)

In [10]:
#ISOLATE TARGET

#select one-hot encoded columns rep target
target_cols = cleanData.columns[cleanData.columns.str.contains('PHQCAT_A').tolist()]
TARGET = cleanData[target_cols]

#remove target from features
FEATURES = cleanData.drop(columns = target_cols)

In [11]:
#SPLIT DATA INTO TRAINING AND TESTING
x_train, x_test, y_train, y_test = train_test_split(FEATURES, TARGET, test_size=0.20, random_state=0)

In [12]:
#NORMALIZATION

#get column names of numerical data
cols = data_cleaning_inst.COLUMN_NAME[data_cleaning_inst.DATA_TYPE == 'numerical']
#isolate categorical data to join later
x_train_cat = x_train.drop(columns = cols)
x_test_cat = x_test.drop(columns = cols)

#isolate data to normalize
x_train_num = x_train[cols]
x_test_num = x_test[cols]

#create object and fit to training data
normalizer = Normalizer().fit(x_train_num)

#training data
#normalize 
x_train_norm = normalizer.transform (x_train_num)
#turn to dataframe
x_train_norm = pd.DataFrame(x_train_norm, index = x_train_num.index, columns = x_train_num.columns)
#join with cat data
x_train_final = pd.concat([x_train_cat, x_train_norm], axis=1)

#test data
#normalize test data using same transformer
x_test_norm = normalizer.transform (x_test_num)
#turn to dataframe
x_test_norm = pd.DataFrame(x_test_norm, index = x_test_num.index, columns = x_test_num.columns)
#join with cat data
x_test_final = pd.concat([x_test_cat, x_test_norm], axis=1)

In [13]:
#STORE DATA

#make directory 
dataDir = 'CleanDataFinal'
if not os.path.exists(dataDir):
    os.mkdir(dataDir)

#store training data
filepath = os.path.join(dataDir, 'trainFeaturesFinal.csv')
x_train_final.to_csv(filepath) 
filepath = os.path.join(dataDir, 'trainTargetFinal.csv')
y_train.to_csv(filepath) 

#store testing data
filepath = os.path.join(dataDir, 'testFeaturesFinal.csv')
x_test_final.to_csv(filepath) 
filepath = os.path.join(dataDir, 'testTargetFinal.csv')
y_test.to_csv(filepath)

In [14]:
#TEST TO MAKE SURE DATA CAN BE READ
dataDir = 'CleanDataFinal'

filepath = os.path.join(dataDir, 'trainFeaturesFinal.csv')
trainX = pd.read_csv (filepath)
print('trainX shape:', trainX.shape)

filepath = os.path.join(dataDir, 'trainTargetFinal.csv')
trainY = pd.read_csv (filepath)
print('trainY shape:', trainY.shape)

filepath = os.path.join(dataDir, 'testFeaturesFinal.csv')
testX = pd.read_csv (filepath)
print('testX shape:', testX.shape)

filepath = os.path.join(dataDir, 'testTargetFinal.csv')
testY = pd.read_csv (filepath)
print('testY shape:', testY.shape)

trainX shape: (22222, 5292)
trainY shape: (22222, 5)
testX shape: (5556, 5292)
testY shape: (5556, 5)